{
  "mqtt": {
    "broker": "192.168.1.7",
    "port": 1883,
    "username": "",
    "password": ""
  },
  "files": {
    "sub_directory": "../tx_files",
    "node_id": "catflap",
    "discovery_prefix": "homeassistant",
    "allow_python_scripts": false,
    "python_timeout_s": 30
  },
  "device_info": {
    "hub_name": "CatFlap",
    "manufacturer": "CatFlap",
    "model": "RF Remote"
  },
  "rf": {
    "tx_power_mode": "max",
    "frend0_pa_power": null,
    "frend0_lodiv_buf_current_tx": null,
    "patable": null
  }
}
